In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/aryansingh/Desktop/MOF Screening/Combined_set_prescreened (1).csv");
df.head()

,MOF,uptake_ads,uptake_des,heat_ads,heat_des,LISD,LFSD,LISFS,Unit_cell_volume,Density,...,O,La,Cr,Ti,Ba,Rh,Ce,Cu,Al,Re
0,XUKYEI_neutral,0.920997,0.668303,-21.55231,-18.39099,13.18217,10.20370,13.18217,6140.00,0.287208,...,0,0,0,0,0,0,0,2,0,0
1,ja300034j_si_002_clean,0.433112,0.187346,-25.96441,-17.79542,17.49700,17.44104,17.49700,2800.68,0.713223,...,18,0,0,0,0,0,0,0,0,0
2,QIYDAF01_clean,0.827077,0.660425,-19.37443,-18.95302,22.00141,13.48659,22.00141,52812.60,0.303251,...,96,0,0,0,0,0,0,24,0,0
3,XAHPIH_clean,0.818678,0.634451,-21.96228,-19.54395,14.37026,13.22660,14.37026,12821.80,0.356183,...,40,0,0,0,0,0,0,8,0,0
4,VETMIS_clean,0.932519,0.746597,-22.10557,-19.92746,18.13430,11.96931,18.13430,33152.20,0.311959,...,48,0,0,0,0,0,0,12,0,0

### COP CALCULATION ###

In [7]:
df["deltaQ"] = df["uptake_ads"] - df["uptake_des"]
df["deltaHmean"] = (df["heat_ads"] + df["heat_des"])/2
df = df[df["deltaQ"]>=0]
deltaHvap = 16.25 
Tads = 313.15 
Tdes = 358.15
Mw = 44.097/1000
Cp = 1
df["COP"] = (deltaHvap * df["deltaQ"]) / (Mw*Cp*(Tdes - Tads) - df["deltaHmean"]*df["deltaQ"]);
df.drop(columns=["MOF", "uptake_ads", "uptake_des", "heat_ads", "heat_des", "deltaQ", "deltaHmean"], inplace=True)

### ACTIVE LEARNING CODE ###

In [8]:
df.head()

,LISD,LFSD,LISFS,Unit_cell_volume,Density,ASA_A2,ASA_m2_per_cm3,ASA_m2_per_g,NASA_A2,NASA_m2_per_cm3,...,La,Cr,Ti,Ba,Rh,Ce,Cu,Al,Re,COP
0,13.18217,10.20370,13.18217,6140.00,0.287208,1122.810,1828.68,6367.08,0.0,0.0,...,0,0,0,0,0,0,2,0,0,0.584018
1,17.49700,17.44104,17.49700,2800.68,0.713223,390.541,1394.45,1955.14,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.542496
2,22.00141,13.48659,22.00141,52812.60,0.303251,8995.150,1703.22,5616.54,0.0,0.0,...,0,0,0,0,0,0,24,0,0,0.522996
3,14.37026,13.22660,14.37026,12821.80,0.356183,2130.490,1661.62,4665.07,0.0,0.0,...,0,0,0,0,0,0,8,0,0,0.515473
4,18.13430,11.96931,18.13430,33152.20,0.311959,5856.650,1766.60,5662.90,0.0,0.0,...,0,0,0,0,0,0,12,0,0,0.512787